[Unit]
Description=PMC serial reader and file generator
Wants=securededison.service videk.service
Before=securededison.service videk.service
After=wams-config.service videk-register.service

[Service]
Type=oneshot
ExecStart=/bin/pmc-file
RemainAfterExit=yes

[Install]
WantedBy=basic.target
