[Unit]
Description=Configures GTO security

[Service]
Type=oneshot
WorkingDirectory=/var/lib/securededison
ExecStart=/usr/bin/node-pkcs configure.js
ExecStartPost=/bin/systemctl disable securededison-configure

[Install]
WantedBy=basic.target
